body {
    background-color: black;
    color: #00ff41;
    font-family: "Courier New", monospace;
}

@keyframes blink {
    from {background-color: #00ff41;}
    to {background-color: black;}
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


#box {
    height: 25px;
    width: 14px;
    background-color: #00ff41;
    
    animation: blink 0.6s cubic-bezier(1,-0.01, 0, 1.01) 0s infinite;
}

#titleContainer {
    display: inline-block;
    justify-content: center;
    align-items: baseline;
}

h1{
    overflow: hidden;
    border-right: 10px solid #00ff41;
    line-height: 23px;
    white-space: nowrap;
    animation: typing 1s forwards;
    width: 0;
}

p {
    text-align: center;
}

#scoreContainer{
display: flex;
justify-content: center;
}

#psContainer,
#csContainer {
    width: 150px;
    height: 220px;
    border: 1px solid #00ff41;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}

#playerScore,
#computerScore {
    font-size: 150px;
}

#weapon {
    font-size: 20px;
}

#btnContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 180px;
    margin-top: 50px;
}

input {
    width: 100px;
    padding: 10px 30px 10px 30px;
}

input:hover {
    width: 120px;
    cursor: pointer;
}

input:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.result {
    text-align: center;
    font-size: 25px;
}

#playAgain {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#btnRefresh {
    background-color: black;
    color: #00ff41;
    border: 1px solid #00ff41;
    border-radius: 2px;
    font-size: 16px;
}

#btnRefresh:hover {
    box-shadow: 0 0 0.5rem lightgrey;
    cursor: pointer;
}